#campaign-info-bar {
    position: absolute;
    top: 5vh;
    left: 0px;
    display: inline-block;
    width: 100%;
    height: 5vh;
    background-color: var(--foreground2);
}
#n-campaigns {
    color: var(--fg-font-color);
    font-family: raleway-heavy;
    position: absolute;
    top: 50%;
    left: 1%;
    transform: translate(0px,-50%);
    font-size: 2.3vh;
}
#new-campaign-button {
    position: absolute;
    right: 0px;
    top: 0px;
    display: inline-block;
    width: fit-content;
    padding-left: 15px;
    padding-right: 15px;
    height: 100%;
    text-align: center;
    background-color: var(--foreground2);
    font-family: raleway-heavy;
    border: none;
    color: var(--fg-font-color);
    transition: color 0.2s, background-color 0.2s;
}
#new-campaign-button:hover {
    color: var(--em-font-color2);
    background-color: var(--foreground3);
}

.campaign-box {
    position: absolute;
    display: inline-block;
    top: 10vh;
    height: 90vh;
}
#owned-campaigns-bar {
    width: 30vw;
    left: 0px;
    border-right: 2px solid var(--background3);
}
#participating-campaigns-bar {
    width: 70vw;
    left: 30vw;
}
.cb-title {
    position: absolute;
    top: 0px;
    left: 0px;
    width: calc(100% + 2px);
    height: 4vh;
    font-family: raleway-heavy;
    color: #ffffff;
    background-color: var(--foreground2-2);
    font-size: 2vh;
}
.cb-title span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.cb-box {
    position: absolute;
    top: 4vh;
    left: 0px;
    display: inline-block;
    width: 100%;
    height: calc(100% - 4vh);
    overflow-y: scroll;
}

.owned-campaign {
    position: relative;
    display: inline-block;
    width: 94%;
    height: 20%;
    padding: 10px;
    margin: 0px;
    margin-left: 3%;
    margin-top: 10px;
    border: 2px solid var(--background3);
    background-color: white;
    border-radius: 5px;
    border-collapse: collapse;
}
.participating-campaign {
    position: relative;
    display: inline-block;
    width: 30%;
    height: 20%;
    padding: 10px;
    margin: 0px;
    margin-left: 1.5%;
    margin-top: 10px;
    border: 2px solid var(--background3);
    background-color: white;
    border-radius: 5px;
    border-collapse: collapse;
}
.cmp-title {
    position: absolute;
    top: -2px;
    left: -2px;
    display: inline-block;
    width: calc(100% + 4px);
    height: 20%;
    text-align: center;
    padding: 0.5%;
    background-color: var(--foreground2-2);
    font-family: raleway-heavy;
    font-size: 2vh;
    border-radius: 5px 5px 0 0;
    color: #ffffff;
}
.cmp-info {
    display: inline-block;
    width: 100%;
    height: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.cmp-info > div {
    display: inline-block;
    width: 100%;
    height: fit-content;
    padding-top: 2.5%;
    font-family: raleway-heavy;
    position: relative;
    text-align: center;
}
.participating-campaign .cmp-info > div {
    padding-top: 5%;
}

.cmp-delete {
    position: absolute;
    top: 0px;
    right: 0px;
    display: inline-block;
    height: 100%;
    width: 8%;
    border: none;
    background-color: #00000000;
    transition: background-color 0.2s;
    border-top-right-radius: 5px;
}
.cmp-delete:hover {
    background-color: #00000044;
}
.cmp-delete img {
    display: inline-block;
    width: 55%;
    height: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.cmp-edit {
    position: absolute;
    top: 0px;
    right: 8%;
    display: inline-block;
    height: 100%;
    width: 8%;
    border: none;
    background-color: #00000000;
    transition: background-color 0.2s;
}
.cmp-edit:hover {
    background-color: #00000044;
}
.cmp-edit img {
    display: inline-block;
    width: 55%;
    height: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.cmp-view {
    position: absolute;
    top: 0px;
    right: 0px;
    display: inline-block;
    height: 100%;
    width: 8%;
    border: none;
    background-color: #00000000;
    transition: background-color 0.2s;
    border-top-right-radius: 5px;
}
.cmp-view:hover {
    background-color: #00000044;
}
.cmp-view img {
    display: inline-block;
    width: 75%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.cmp-id-box {
    position: absolute;
    bottom: 5px;
    left: 5px;
    color: #00000066;
}