#main-panel {
    background-color: #ffffff;
    border: 2px solid var(--foreground3);
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.75);
    margin-bottom: 2vh;
    width: 61vw;
    height: 76vh;
    position: absolute;
    top: 17vh;
    left: 38vw;
}

#main-tabs {
    width: 100%;
    height: 5%;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow-x: visible;
    display: table;
}
#main-tabs button {
    width: calc(100% / 4);
    display: table-cell;
    height: 100%;
    background-color: var(--foreground3);
    border: none;
    color: #ffffff;
    font-family: raleway-heavy;
    font-size: 15px;
    transition: background-color 0.1s;
}
#main-tabs button:first-child {
    border-top-left-radius: 5px;
}
#main-tabs button:last-child {
    border-top-right-radius: 5px;
}
#main-tabs button:hover, #main-tabs button.active {
    background-color: var(--foreground3-2);
}