#character-info-bar {
    position: absolute;
    top: 5vh;
    left: 0px;
    width: 100vw;
    height: 5vh;
    background-color: var(--foreground1);
    color: var(--fg-font-color);
    font-size: 2.5vh;
    /*box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.32);*/
}

#character-info-bar > span {
    position: absolute;
    top: 50%;
    left: 0.5vw;
    transform: translate(0px, -50%);
}

#new-character-btn {
    position: absolute;
    height: 5vh;
    width: auto;
    background-color: var(--foreground2);
    color: var(--fg-font-color);
    right: 0px;
    top: 0px;
    font-size: 2vh;
    transition: background-color 0.2s, color 0.2s;
    border: none;
}

#new-character-btn:hover {
    background-color: var(--foreground3);
    color: var(--em-font-color2);
}

#character-list {
    position: absolute;
    top: 10vh;
    left: 0px;
    height: 90vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#character-list::-webkit-scrollbar {
    display: none;
}

.character-panel {
    position: relative;
    padding: 15px;
    border: 3px solid var(--foreground1);
    border-radius: 10px;
    margin: 5px;
    display: inline-block;
    width: 300px;
    height: 300px;
    font-family: raleway-regular;
    background-color: rgb(230,230,230);
    transition: border-color 0.2s;
    z-index: 50;
    box-sizing: border-box;
}

.character-panel:hover {
    border-color: var(--foreground2);
}

.char-caption {
    background-color:rgb(250,250,250);
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 30%;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
    padding: 5px;
    z-index: 60;
}

.char-img {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 40;
}

.char-img img {
    height: 70%;
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.character-menu-btn {
    border: none;
    background-color: rgba(0,0,0,0);
    position: absolute;
    right: -5px;
    top: 10px;
    z-index: 50;
}

.character-menu-btn img {
    width: 30px;
    height: 30px;
    opacity: 0.75;
    transition: opacity 0.1s;
}

.character-menu-btn:hover img {
    opacity: 1;
}

.character-menu {
    width: 100px;
    font-size: 14px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    background-color: #ffffff;
    border-radius: 4px;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 60;
}

.character-menu button {
    display: block;
    width: 100%;
    height: 30px;
    background-color: #ffffff;
    border: none;
    font-family: raleway-heavy;
    transition: background-color 0.1s;
}

.character-menu button:hover {
    background-color: var(--background);
}

.character-menu button:first-child {
    border-radius: 4px 4px 0 0;
}

.character-menu button:last-child {
    border-radius: 0 0 4px 4px;
}

#character-sheet-display {
    position: absolute;
    top: 5vh;
    left: 0px;
    width: 100vw;
    height: 95vh;
    z-index: 400;
    background-color: var(--background2);
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
#character-sheet-display::-webkit-scrollbar {
    display: none;
}

#character-header {
    background-color: var(--foreground3);
    height: 15vh;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
}

#header-img {
    width: 13vh;
    height: 13vh;
    position: absolute;
    top: 1vh;
    left: 1vh;
    padding: 1vh;
    background-color: var(--foreground3-2);
    border-radius: 10px;
}
#header-img img {
    height: 11vh;
    width: 11vh;
}

#header-info {
    display: inline-block;
    height: 10vh;
    width: 90vw;
    position: absolute;
    left: 17vh;
    top: 50%;
    transform: translate(0px, -50%);
    color: #ffffff;
}

.sheet-in.head {
    background-color: var(--foreground3);
    color: #ffffff;
    padding-left: 10px;
    margin-left: -10px;
    transition: background-color 0.1s;
    border: none;
    border-radius: 10px;
    width: fit-content;
}

#char-name {
    font-size: 30px;
    font-family: raleway-heavy;
    border-radius: 10px;
}
.sheet-in.head::-moz-selection { background: rgba(128, 128, 128, 0.5); }
.sheet-in.head::selection { background: rgba(128, 128, 128, 0.5); }

.sheet-in.head:focus {
    background-color: var(--foreground3-2);
}

.sub1, .sub1 .sheet-in {
    color: #9f9f9f;
}

#character-settings-btn {
    background-color: var(--foreground3);
    position: absolute;
    right: 4vh;
    top: 4vh;
    width: 7vh;
    height: 7vh;
    border-radius: 5vh;
    border: none;
    display: inline-block;
    transition: background-color 0.1s, right 0.2s;
}

#character-settings-btn.active {
    right: calc(300px + 4vh);
}

#character-settings-btn:hover {
    background-color: var(--foreground3-2);
}

#character-settings-btn img {
    width: 5vh;
    height: 5vh;
}

#character-settings {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
    width: 0px;
    display: inline-block;
    background-color: var(--background3);
    transition: width 0.2s;
    overflow-y: auto;
    overflow-x: hidden;
}

#character-settings.active {
    width: 300px;
}

#char-settings-title {
    background-color: var(--foreground3-2);
    height: 15vh;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
}

#char-settings-title span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 30px;
    font-family: raleway-heavy;
    color: #ffffff;
}

#char-settings-area {
    width: 100%;
    height: 80vh;
    overflow-x: hidden;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    position: absolute;
    left: 0px;
    bottom: 0px;
    background-color: var(--foreground2);
}
#char-settings-area::-webkit-scrollbar {
    display: none;
}

.char-settings-switch {
    padding: 5px;
    position: relative;
    height: 4vh;
    margin-bottom: 10px;
}
.char-settings-switch > span {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translate(0px,-50%);
    font-size: 16px;
    color: #ffffff;
    font-family: raleway-heavy;
}
.char-settings-switch > * {
    display: inline-block;
}
.char-settings-switch > label.switch {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translate(0px,-50%);
}