#character-info-bar {
    position: absolute;
    top: 5vh;
    left: 0px;
    width: 100vw;
    height: 5vh;
    background-color: var(--foreground1);
    color: var(--fg-font-color);
    font-size: 2.5vh;
    /*box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.32);*/
}

#character-info-bar > span {
    position: absolute;
    top: 50%;
    left: 0.5vw;
    transform: translate(0px, -50%);
}

#new-character-btn {
    position: absolute;
    height: 5vh;
    width: auto;
    background-color: var(--foreground2);
    color: var(--fg-font-color);
    right: 0px;
    top: 0px;
    font-size: 2vh;
    transition: background-color 0.2s, color 0.2s;
    border: none;
}

#new-character-btn:hover {
    background-color: var(--foreground3);
    color: var(--em-font-color2);
}

#character-list {
    position: absolute;
    top: 10vh;
    left: 0px;
    height: 90vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#character-list::-webkit-scrollbar {
    display: none;
}

.character-panel {
    position: relative;
    padding: 15px;
    border: 3px solid var(--foreground1);
    border-radius: 10px;
    margin: 5px;
    display: inline-block;
    width: 300px;
    height: 300px;
    font-family: raleway-regular;
    background-color: rgb(230,230,230);
    transition: border-color 0.2s;
    z-index: 50;
    box-sizing: border-box;
}

.character-panel:hover {
    border-color: var(--foreground2);
}

.char-caption {
    background-color:rgb(250,250,250);
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 30%;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
    padding: 5px;
    z-index: 60;
}

.char-img {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 40;
}

.char-img img {
    height: 70%;
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.character-menu-btn {
    border: none;
    background-color: rgba(0,0,0,0);
    position: absolute;
    right: -5px;
    top: 10px;
    z-index: 50;
}

.character-menu-btn img {
    width: 30px;
    height: 30px;
    opacity: 0.75;
    transition: opacity 0.1s;
}

.character-menu-btn:hover img {
    opacity: 1;
}

.character-menu {
    width: 100px;
    font-size: 14px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    background-color: #ffffff;
    border-radius: 4px;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 60;
}

.character-menu button {
    display: block;
    width: 100%;
    height: 30px;
    background-color: #ffffff;
    border: none;
    font-family: raleway-heavy;
    transition: background-color 0.1s;
}

.character-menu button:hover {
    background-color: var(--background);
}

.character-menu button:first-child {
    border-radius: 4px 4px 0 0;
}

.character-menu button:last-child {
    border-radius: 0 0 4px 4px;
}

#character-sheet-display {
    position: absolute;
    top: 5vh;
    left: 0px;
    width: 100vw;
    height: 95vh;
    z-index: 400;
    background-color: var(--background2);
    overflow-y: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    display: none;
}
#character-sheet-display::-webkit-scrollbar {
    display: none;
}
#character-sheet-display.active {
    display: inline-block;
}

#character-header {
    background-color: var(--foreground3);
    height: 15vh;
    position: fixed;
    top: 5vh;
    left: 0px;
    width: 100vw;
    z-index: 600;
}

#header-img {
    width: 15vh;
    height: 15vh;
    position: absolute;
    top: 0;
    left: 0;
    padding: 2vh;
    background-color: var(--foreground3-2);
    
}
#header-img img {
    height: 11vh;
    width: 11vh;
    border-radius: 10px;
}

#header-info {
    display: inline-block;
    height: 10vh;
    width: 90vw;
    position: absolute;
    left: 17vh;
    top: 50%;
    transform: translate(0px, -50%);
    color: #ffffff;
}

.sheet-in.head {
    background-color: var(--foreground3);
    color: #ffffff;
    padding-left: 10px;
    margin-left: -10px;
    transition: background-color 0.1s;
    border: none;
    border-radius: 10px;
    width: fit-content;
}

#char-name {
    font-size: 30px;
    font-family: raleway-heavy;
    border-radius: 10px;
}
.sheet-in.head::-moz-selection { background: rgba(128, 128, 128, 0.5); }
.sheet-in.head::selection { background: rgba(128, 128, 128, 0.5); }

.sheet-in.head:focus {
    background-color: var(--foreground3-2);
}

.sub1, .sub1 .sheet-in {
    color: #9f9f9f;
}

#character-settings-btn {
    background-color: var(--foreground3);
    position: absolute;
    right: 4vh;
    top: 4vh;
    width: 7vh;
    height: 7vh;
    border-radius: 5vh;
    border: none;
    display: inline-block;
    transition: background-color 0.1s, right 0.2s;
}

#character-settings-btn.active {
    right: calc(300px + 4vh);
}

#character-settings-btn:hover {
    background-color: var(--foreground3-2);
}

#character-settings-btn img {
    width: 5vh;
    height: 5vh;
}

#character-reset-btn {
    background-color: var(--foreground3);
    position: absolute;
    right: 15vh;
    top: 4vh;
    width: 7vh;
    height: 7vh;
    border-radius: 5vh;
    border: none;
    display: inline-block;
    transition: background-color 0.1s, right 0.2s;
}

#character-reset-btn.active {
    right: calc(300px + 15vh);
}

#character-reset-btn:hover {
    background-color: var(--foreground3-2);
}

#character-reset-btn img {
    width: 5vh;
    height: 5vh;
}

#character-settings {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
    width: 0px;
    display: inline-block;
    background-color: var(--background3);
    transition: width 0.2s;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 600;
}

#character-settings.active {
    width: 300px;
}

#char-settings-title {
    background-color: var(--foreground3-2);
    height: 15vh;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
}

#char-settings-title span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 30px;
    font-family: raleway-heavy;
    color: #ffffff;
}

#char-settings-area {
    width: 100%;
    height: 80vh;
    overflow-x: hidden;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    position: absolute;
    left: 0px;
    bottom: 0px;
    background-color: var(--foreground2);
}
#char-settings-area::-webkit-scrollbar {
    display: none;
}

.char-settings-switch {
    padding: 5px;
    position: relative;
    height: 4vh;
    margin-bottom: 10px;
}
.char-settings-switch > span {
    width: 70%;
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translate(0px,-50%);
    font-size: 16px;
    color: #ffffff;
    font-family: raleway-heavy;
}
.char-settings-switch > * {
    display: inline-block;
}
.char-settings-switch > label.switch {
    position: absolute;
    left: 79%;
    top: 50%;
    transform: translate(0px,-50%);
}

.char-warning {
    background-color: rgb(224, 28, 28);
    color: var(--fg-font-color);
    height: 30px;
    font-size: 15px;
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    font-family: raleway-heavy;
}

#abilities {
    position: fixed;
    top: 20vh;
    left: 0vh;
    width: 7.5vw;
    height: 80vh;
    background-color: var(--foreground3);
    display: inline-block;
    padding-top: 2vh;
    padding-left: 2.5vh;
    z-index: 200;
}
#abilities * {
    display: block;
}

.ability-box {
    width: 5vw;
    height: 10vh;
    border: 4px solid var(--foreground3);
    border-radius: 15px;
    background-color: #ffffff;
    overflow: hidden;
    margin-bottom: 10px;
    position: relative;
    transition: width 0.2s, box-shadow 0.2s;
}
.ability-box.editing {
    width: 20vh;
    -webkit-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.75);
}
.ability-box .ab-main {
    position: absolute;
    top:0px;
    left: 0px;
    width: 100%;
    height: 9vh;
    padding: 0vh;
    font-family: raleway-heavy;
    font-size: 10px;
    box-sizing: border-box;
    transition: top 0.2s;
    z-index: 99;
}
.ability-box.editing .ab-main {
    top: -10vh;
}
.ab-title {
    text-align: center;
    color: #7f7f7f;
    width: 100%;
    height: 10%;
    position: absolute;
    top: 0px;
    left: 0px;
}
.ab-modifier {
    height: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-size: 30px;
}
#ab-proficiency .ab-modifier {
    font-size: 40px;
}
.ab-score {
    height: 20%;
    width: 60%;
    position: absolute;
    bottom: 10%;
    left: 20%;
    font-size: 12px;
    text-align: center;
    font-family: raleway-heavy;
    border: 1px solid var(--background3);
    border-radius: 4px;
}
.ab-exp {
    top: 10vh;
    left: 0px;
    position: absolute;
    transition: top 0.2s;
    z-index: 99;
    width: 20vh;
    display: inline-block;
    white-space: nowrap;
}
.ab-exp input {
    border: none;
    border-bottom: 1px solid var(--background3);
    height: 3.03vh;
    width: 6vh;
    margin: none;
    display: inline-block;
}
.ab-exp span {
    width: 10vh;
    float: left;
    padding-top: 3px;
    font-size: 15px;
    padding-left: 5px;
}
.ab-exp input:last-child {
    border: none;
}
.ab-edit {
    width: 3vh;
    height: 3vh;
    position: absolute;
    top: 0vh;
    right: 0vh;
    border: none;
    background-color: #ffffff00;
    border-bottom-left-radius: 1vh;
    transition: background-color 0.1s;
    z-index: 100;
}
.ab-edit:hover, .editing .ab-edit {
    background-color: #00000011;
}
.ab-edit img {
    width: 2vh;
    height: 2vh;
}
.ability-box.editing .ab-exp {
    top: 0px;
}

#col-health {
    position: absolute;
    top: 15vh;
    left: 23vw;
    width: 14vw;
    height: 80vh;
    padding-top: 2vh;
    z-index: 900;
}

#saves {
    position: relative;
    z-index: 199;
    border-radius: 10px;
    border: 2px solid var(--foreground3);
    background-color: #ffffff;
    padding: 10px;
    padding-top: 30px;
    -webkit-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.75);
    z-index: 100;
}
#save-head {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%,0px);
    font-family: raleway-heavy;
    width: 100%;
    text-align: center;
}
#saves .save-item > * {
    margin-left: 5px;
}
.save-item label {
    width: 2vh;
    display: inline-block;
}
.save-item .save-val {
    width: 3vh;
    display: inline-block;
    text-align: right;
    border-bottom: 1px solid var(--background3);
}
.save-item .save-name {
    text-align: center;
    width: 11vh;
    display: inline-block;
}
#save-adv-title {
    position: absolute;
    top: 20px;
    right: 6vh;
    font-size: 10px;
    color: #7f7f7f;
}
#save-dis-title {
    position: absolute;
    top: 20px;
    right: 2.5vh;
    font-size: 10px;
    color: #7f7f7f;
}

.profmarker input {
    opacity: 0;
    width: 0;
    height: 0;
}

.profmarker > span {
    width: 14px;
    height: 14px;
    border: 1px solid #000000;
    background-color: #ffffff;
    border-radius: 7px;
    display: inline-block;
    padding: 0px;
    position: relative;
}

.profmarker > input:checked + span > span {
    width: 8px;
    height: 8px;
    background-color: #000000;
    border-radius: 5px;
    display: inline-block;
    position: absolute;
    top: 2px;
    left: 2px;
    border: none;
}

.profmarker > input.expert:checked + span > span {
    width: 8px;
    height: 8px;
    background-color: #8317ff;
    border-radius: 5px;
    display: inline-block;
    position: absolute;
    top: 2px;
    left: 2px;
    border: none;
}

#col-skills {
    top: 15vh;
    left: 8vw;
    width: 14vw;
    height: 80vh;
    position: absolute;
    /*height: fit-content;*/
    display: inline-block;
    padding-top: 2vh;
}

#skills {
    z-index: 100;
    z-index: 199;
    border-radius: 10px;
    border: 2px solid var(--foreground3);
    background-color: #ffffff;
    padding: 10px;
    padding-top: 15px;
    -webkit-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.75);
    margin-bottom: 2vh;
}
#skills .skill-item > * {
    margin-left: 5px;
}
.skill-item label {
    width: 2vh;
    display: inline-block;
}
.skill-item .skill-val {
    width: 3vh;
    display: inline-block;
    text-align: right;
    border-bottom: 1px solid var(--background3);
}
.skill-item .skill-name {
    text-align: center;
    width: 11vh;
    display: inline-block;
}
#skill-adv-title {
    position: absolute;
    top: 2vh;
    right: 6vh;
    font-size: 10px;
    color: #7f7f7f;
}
#skill-dis-title {
    position: absolute;
    top: 2vh;
    right: 2.5vh;
    font-size: 10px;
    color: #7f7f7f;
}

#perc-passive {
    position: relative;
    width: 100%;
    height: 5vh;
    padding-left: 1vh;
    font-family: raleway-heavy;
}

#inve-passive {
    position: relative;
    width: 100%;
    height: 5vh;
    padding-left: 1vh;
    font-family: raleway-heavy;
    font-size: 14px;
    margin-top: 1vh;
}

#perc-passive span:first-child, #inve-passive span:first-child {
    position: absolute;
    top: -1px;
    left: 0px;
    color: #ffffff;
    height: calc(100% + 2px);
    background-color: var(--foreground3);
    padding: 1.1vh;
    border-radius: 5px 0 0 5px;
    width: 11vw;
    text-align: center;
}

#perc-passive-val, #inve-passive-val {
    position: absolute;
    right: 0px;
    font-size: 30px;
    top: -5px;
    width: 3vw;
    text-align: center;
}

.column {
    overflow-y: scroll;
    height: 50vh;
}

.column * {
    display: inline-block;
}

.column > div {
    background-color: #ffffff;
    border: 2px solid var(--foreground3);
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.75);
    margin-bottom: 2vh;
    width: 100%;
}

#important-stats {
    padding: 0 10px 10px 10px;
    z-index: 400;
    position: relative;
}
#important-stats table {
    width: 100%;
}
#important-stats table td, #important-stats table th {
    width: 30%;
    text-align: center;
}
#important-stats table > * {
    display: block;
    width: 100%;
}
#important-stats table tr {
    width: 100%;
}
#important-stats th {
    font-size: 10px;
    color: #7f7f7f;
    height: 10px;
    padding-top: 0px;
}
#important-stats td {
    display: inline-block;
    position: relative;
    font-size: 25px;
    color: #000000;
    height: 5.5vh;
    border: 1px solid var(--background3);
    border-radius: 4px;
    transition: background-color 0.1s;
}
#important-stats td span {
    white-space: nowrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#important-stats td:hover {
    background-color: #efefef;
}
#important-stats-settings {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 5px;
    right: 5px;
    opacity: 0.25;
    transition: opacity 0.1s;
}
#important-stats-settings:hover {
    opacity: 0.35;
}

#stat-settings {
    padding: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
    position: absolute;
    top: 17vh;
    left: 38vw;
    width: 18vh;
    z-index: 1000;
}
#stat-settings.active {
    display: inline-block;
}

#stat-settings .set-name {
    text-align: right;
    width: 70%;
    font-family: raleway-heavy;
}

#stat-settings .set-val {
    float: right;
    width: 20%;
    border: none;
    border-bottom: 1px solid var(--background3);
    height: 3h;
    text-align: center;
    padding-bottom: 4px;
}

#hp-display {
    padding: 20px 10px 10px 10px;
    z-index: 400;
    position: relative;
}
#hp-display table {
    width: 100%;
}
#hp-display table td, #hp-display table th {
    width: 26%;
    text-align: center;
}
#hp-display input {
    width: 100%;
    border: none;
    background-color: #ffffff00;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: #000000;
}
#hp-display table > * {
    display: block;
    width: 100%;
}
#hp-display table tr {
    width: 100%;
}
#hp-display th {
    font-size: 10px;
    color: #7f7f7f;
    height: 10px;
    padding-top: 0px;
}
#hp-display td {
    display: inline-block;
    position: relative;
    font-size: 25px;
    color: #000000;
    height: 5.5vh;
    border: 1px solid var(--background3);
    border-radius: 4px;
    transition: background-color 0.1s;
}
#hp-display td span {
    white-space: nowrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#hp-display td:hover {
    background-color: #efefef;
}
#hp-display td.hp-slash, #hp-display th.hp-slash {
    width: 10%;
    border: none;
    font-weight: bold;
    vertical-align: middle;
    text-align: center;
    font-size: 30px;
    padding: none;
}
#hp-display td.hp-slash:hover, #hp-display th.hp-slash:hover {
    background-color: #ffffff00;
}
#hp-head {
    font-family: raleway-heavy;
    position: absolute;
    font-weight: bold;
    top: 5px;
    left: 50%;
    transform: translate(-50%, 0px);
}

#rest-buttons {
    width: 20vh;
    height: 7vh;
    right: 26vh;
    top: calc(4vh - 5px);
    position: absolute;
    transition: right 0.2s;
    display: inline-block;
}
#rest-buttons.active {
    right: calc(300px + 26vh);
}

#rest-buttons button {
    width: 20vh;
    height: 3.5vh;
    background-color: var(--foreground3);
    border: none;
    color: #ffffff;
    font-family: raleway-heavy;
    border-radius: 1.75vh;
    transition: background-color 0.1s;
    padding: 5px;
}
#rest-buttons button:hover {
    background-color: var(--foreground3-2);
}
#rest-buttons button:first-child {
    margin-bottom: 10px;
}
#rest-buttons button img {
    width: 2.5vh;
    height: 2.5vh;
    float: left;
}

#rest-buttons button * {
    display: inline-block;
    color: #ffffff;
    font-family: raleway-heavy;
}

#short-rest-panel {
    background-color: #ffffff;
    border: 2px solid var(--foreground3);
    border-top:  none;
    border-radius: 0 0 10px 10px;
    -webkit-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.75);
    position: absolute;
    display: inline-block;
    right: 26vh;
    top: 15vh;
    width: 20vh;
    height: fit-content;
    z-index: 700;
}
#sr-commence {
    width: 90%;
    height: 3vh;
    background-color: var(--foreground3);
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%,0px);
    color: #ffffff;
    border-radius: 1.5vh;
    font-family: raleway-heavy;
    border: none;
    transition: background-color 0.1s;
}
#sr-commence:hover {
    background-color: var(--foreground3-2);
}
#hit-dice-panel {
    margin-bottom: calc(3vh + 20px);
    padding: 5px;
}
.hd-item {
    border: 1px solid var(--background3);
    border-radius: 5px;
    height: 5vh;
    width: 100%;
    padding: 5px;
    position: relative;
}
.hd-item button {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 5vh;
    width: 40%;
    background-color: var(--foreground3);
    color: var(--em-font-color2);
    border: none;
    border-radius: 0 5px 5px 0;
    transition: background-color 0.1s;
}
.hd-item button:hover {
    background-color: var(--foreground3-2);
}
.hd-item .hd-content {
    position: absolute;
    left: 10px;
    width: 60%;
    top: 50%;
    transform: translate(0px, -50%);
    font-size: 2.2vh;
    font-family: raleway-heavy;
}

#proficiencies {
    padding: 0px;
}
#proficiencies .section {
    padding: 10px;
    display: block;
    border-bottom: 1px solid var(--background3);
    width: 100%;
}
#proficiencies .section:last-child {
    border-bottom: none;
}
#proficiencies .section .title {
    font-family: raleway-heavy;
}