#main-panel {
    background-color: #ffffff;
    border: 2px solid var(--foreground3);
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.75);
    margin-bottom: 2vh;
    width: 61vw;
    height: 76vh;
    position: absolute;
    top: 17vh;
    left: 38vw;
    box-sizing: content-box;
    background-color: var(--foreground3);
    z-index: 500;
    overflow-x: hidden;
}

#main-modal {
    display: inline-block;
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1001;
    background-color: #00000066;
    transition: width 0.2s;
}
#main-modal.active {
    width: 100%;
}

#main-tabs {
    width: calc(100% + 1px);
    height: calc(5% + 1px);
    position: absolute;
    top: -1px;
    left: 0px;
    overflow-x: visible;
    display: table;
    margin-bottom: 0px;
    background-color: var(--foreground3);
    border-radius: 5px 5px 0 0;
    z-index: 1002;
}
#main-tabs button {
    width: calc(100% / 3);
    display: table-cell;
    height: 100%;
    background-color: var(--foreground3);
    border: none;
    color: #ffffff;
    font-family: raleway-heavy;
    font-size: 15px;
    transition: background-color 0.1s;
}
#main-tabs button:first-child {
    border-top-left-radius: 5px;
}
#main-tabs button:last-child {
    border-top-right-radius: 5px;
}
#main-tabs button:hover, #main-tabs button.active {
    background-color: var(--foreground3-2);
}

.panel-tab {
    position: absolute;
    display: none;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
}
.panel-tab.active {
    display: inline-block;
}

#tabs {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 95.1%;
    width: 100%;
    border-collapse: collapse;
    background-color: var(--background2);
}

/* Actions Sidebar */

#actions {
    position: absolute;
    top: 0px;
    left: calc((100% / 3) * -1);
    width: calc(100% / 3);
    height: 100%;
    border-bottom-left-radius: 5px;
    overflow-x: visible;
    transition: left 0.2s;
    z-index: 1002;
}
#actions.expanded {
    left: 0px;
}
#expand-atk {
    position: absolute;
    left: 100%;
    bottom: 20px;
    z-index: 800;
    display: inline-block;
    width: 20px;
    height: 40px;
    color: #ffffff;
    padding: 0px;
    border: none;
    background-color: var(--foreground3-2);
    border-radius: 0 5px 5px 0;
    transition: width 0.2s;
}
#atk-exp-arrow {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translate(0,-50%);
    font-family: raleway-heavy;
    padding: 0px;
    transition: transform 0.2s, right 0.2s;
    transform-origin: 25% 25%;
}
#atk-exp-arrow {
    transform: rotate(180deg);
}
#atk-exp-txt {
    display: inline-block;
    width: 0px;
    overflow-x: hidden;
    text-align: center;
    font-family: raleway-heavy;
    transition: width 0.2s;
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translate(0,-50%);
    padding: 0px;
}
#expand-atk:hover #atk-exp-txt {
    width: 90px;
}
#expand-atk:hover {
    width: 120px;
}
#expand-atk:hover #atk-exp-arrow {
    position: absolute;
    right: 10px;
}
#actions-title {
    position: absolute;
    width: 100%;
    padding: 10px;
    text-align: center;
    display: inline-block;
    top: 0px;
    left: 0px;
    font-family: raleway-heavy;
    color: #ffffff;
    background-color: var(--foreground3-3);
    height: 5%;
}
#actions-title span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
#actions-panel {
    position: absolute;
    display: inline-block;
    bottom: 0px;
    left: 0px;
    height: 95%;
    width: 100%;
    background-color: var(--foreground2);
    overflow-y: scroll;
    transition: all 0.5s;
    border-bottom-left-radius: 6px;
    border: none;
}
#atk-edit-create-area.active + #actions-panel {
    height: 40%;
}

#atk-edit-create-area {
    height: 0px;
    overflow: hidden;
    width: 100%;
    position: absolute;
    top: 5%;
    left: 0px;
    transition: all 0.5s;
    background-color: var(--foreground3);
    color: #ffffff;
    border-bottom: 2px solid var(--foreground3-2);
    border-right: 2px solid var(--foreground3);
}
#atk-edit-create-area.active {
    height: 55%;
    overflow-y: scroll;
}
#atk-edit-create-area .atk-edit-item {
    width: 100%;
    padding: 10px;
}
#atk-edit-create-area .atk-edit-item .title {
    display: inline-block;
    width: 49%;
    text-align: center;
    font-family: raleway-heavy;
}
#atk-edit-create-area .atk-edit-item input, #atk-edit-create-area .atk-edit-item select {
    width: 49%;
    border: none;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.75);
    padding: 5px;
    font-size: 14px;
}
#atk-edit-btns {
    width: 100%;
    display: inline-block;
}
#atk-edit-btns button {
    width: 50%;
    height: 30px;
    position: relative;
    display: inline-block;
    border: none;
    margin: none;
    box-sizing: border-box;
    color: #ffffff;
    font-family: raleway-heavy;
    opacity: 0.9;
    transition: opacity 0.2s;
}
#atk-edit-btns button:hover {
    opacity: 1;
}
#atk-submit-btn {
    background-color: var(--foreground4);
}
#atk-cancel-btn {
    background-color: #ec2525;
}

.tag-display {
    width: calc(100% - 20px);
    background-color: var(--foreground3-2);
    padding: 5px;
    border-radius: 10px;
    margin: 10px;
    height: 40px;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
}
.tag-item {
    height: 30px;
    background-color: var(--foreground2);
    color: #ffffff;
    font-family: raleway-heavy;
    border-radius: 10px;
    font-size: 15px;
    position: relative;
    display: inline-block;
    padding: 5px;
    margin-left: 5px;
    transition: left 0.2s;
    overflow: hidden;
    transition: background-color 0.2s;
    white-space: nowrap;
}
.tag-item:hover {
    background-color: #e91f1f;
}

.action-item {
    position: relative;
    height: auto;
    width: calc(100% - 20px);
    display: inline-block;
    margin: 10px;
    border: 2px solid var(--foreground3);
    border-radius: 0px;
    margin-bottom: 0px;
    background-color:var(--foreground3);
    transition: all 0s ease-in-out;
    overflow-y: hidden;
    padding-top: 0px;
    max-height: 60px;
    overflow-x: hidden;
    box-sizing: border-box;
}
.action-item.active {
    /*height: fit-content;*/
    max-height: 100vh;
}
.action-item-title {
    font-family: raleway-heavy;
    width: 100%;
    text-align: center;
    background-color: var(--foreground3);
    position: relative;
    color: #ffffff;
    height: 30px;
    display: inline-block;
    top: -2px;
    padding-top: 5px;
    white-space: nowrap;
}
.action-item-sub {
    position: relative;
    width: 100%;
    height: 30px;
    text-align: center;
    color: #000000;
    font-family: raleway-heavy;
    background-color: #ffffff;
}
.atk-info {
    position: relative;
    display: inline-block;
    width: 100%;
    border: none;
    transition: border 0.2s;
    border-top: 2px solid #ffffff;
    height: 0px;
    overflow: scroll;
    padding: 10px;
    margin-bottom: 0px;
    display: none;
    background-color: #ffffff;
}
.action-item.active .atk-info {
    position: relative;
    border-top: 2px solid var(--foreground3);
    height: fit-content;
    display: inline-block;
}
.item-part-title {
    display: block;
    width: 100%;
    font-family: raleway-heavy;
    text-align: center;
}

.action-edit {
    position: absolute;
    display: inline-block;
    top: -1px;
    right: 0px;
    width: 30px;
    height: 30px;
    background-color: #00000000;
    border: none;
    transition: all 0.1s;
    padding: 0px;
}
.action-delete {
    position: absolute;
    display: inline-block;
    top: -1px;
    right: 30px;
    width: 30px;
    height: 30px;
    background-color: #00000000;
    transition: all 0.1s;
    border: none;
}
.action-delete img, .action-edit img {
    height: 15px;
    width: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.action-delete:hover, .action-edit:hover {
    background-color: #00000044;
}

#new-atk-button {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: var(--foreground3-3);
    color: #ffffff;
    font-family: sans-serif;
    font-weight: bold;
    display: inline-block;
    width: 10%;
    height: 5%;
    border: none;
    transition: background-color 0.2s;
}
#new-atk-button:hover {
    background-color: var(--foreground3-2);
}

/* Inventory Main */

#inv-header {
    position: absolute;
    top: 0px;
    left: 0px;
    display: inline-block;
    width: 100%;
    height: 10%;
    background-color: var(--foreground2);
    -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
}

#carrying-info {
    position: absolute;
    top: 5px;
    left: 5px;
    color: #ffffff;
    font-family: raleway-heavy;
    height: 30%;
    display: inline-block;
}
#encumbered-line {
    position: absolute;
    top: calc(30% + 10px);
    left: 5px;
    color: #ffffff;
    font-family: raleway-heavy;
    height: 30%;
    display: inline-block;
}
#encumbered-line span {
    padding: 2px;
    border-radius: 4px;
    padding-left: 5px;
    padding-right: 5px;
}
#cur-wealth-line {
    position: absolute;
    top: 5px;
    right: 5px;
    color: #ffffff;
    font-family: raleway-heavy;
    height: 30%;
    display: inline-block;
}
#cur-coin-line {
    position: absolute;
    top: calc(30% + 10px);
    right: 5px;
    color: #ffffff;
    font-family: raleway-heavy;
    height: 30%;
    display: inline-block;
}
#encumbrance-val {
    background-color: #00000000;
}

#cont-header {
    position: absolute;
    top: 10%;
    left: 0px;
    display: inline-block;
    height: 10%;
    width: 100%;
    background-color: var(--foreground1);
}
#cont-opts div {
    display: inline-block;
    margin-left: 10px;
}
#cur-container-wt input {
    width: 5%;
    background-color: var(--foreground1);
    border-radius: 5px;
    transition: background-color 0.2s;
    border: none;
    padding: 5px;
    color: #ffffff;
    text-align: center;
}
#cur-container-wt input:hover, #cur-container-wt input:focus {
    background-color: var(--foreground2);
}
#cont-opts {
    width: 99%;
    position: absolute;
    display: inline-block;
    left: 0.5%;
    top: 50%;
    transform: translate(0px,-50%);
    color: #ffffff;
    font-family: raleway-heavy;
    margin: 0px;
}
#cur-cont-val {
    background-color: var(--foreground2);
    border-radius: 5px;
    width: 100%;
    height: 5%;
    display: inline-block;
    position: relative;
    padding: 5px;
    color: #ffffff;
    font-family: raleway-heavy;
    text-align: center;
    overflow: hidden;
}
#cur-cont-val:focus {
    border: none;
    outline: none;
    width: 100%;
    height: 5%;
}
#cur-container {
    position: relative;
    display: inline-block;
    width: 30%;
}
#delete-container {
    position: absolute;
    right: 0px;
    top: 0px;
    display: inline-block;
    height: 100%;
    width: 5%;
    background-color: var(--foreground1);
    border: none;
    transition: background-color 0.2s;
}
#delete-container:hover {
    background-color: var(--foreground2);
}
#delete-container img {
    width: 70%;
    height: auto;
}
#coins {
    position: absolute;
    left: 0px;
    top: 20%;
    display: inline-block;
    width: 10%;
    min-width: 120px;
    height: 75%;
    overflow-x: hidden;
    overflow-y: scroll;
    
}
#coins .coin-item {
    width: 40px;
    position: relative;
    height: 8%;
    color: #ffffff;
    font-family: raleway-regular;
    overflow: hidden;
    background-color: var(--foreground2);
    border-radius: 0 5px 5px 0;
    margin-top: 10px;
    transition: width 0.2s;
    z-index: 200;
}
#coins .coin-item:hover {
    width: 100%;
}
.coin-title {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 40px;
    height: 100%;
    display: inline-block;
    background-color: var(--foreground3);
    font-weight: bold;
}
.coin-title span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.coin-val {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 0%;
    height: 100%;
    display: inline-block;
    background-color: var(--foreground2);
    font-weight: bold;
    overflow: hidden;
    transition: width 0.2s;
    border: none;
    text-align: center;
    padding: 0px;
    color: #ffffff;
}
.coin-item:hover .coin-val {
    width: calc(100% - 40px);
}

#inventory-items {
    width: calc(100% - 50px);
    height: 80%;
    display: inline-block;
    position: absolute;
    top: 20%;
    right: 0px;
    background-color: var(--background);
    z-index: 199;
    overflow-y: scroll;
    overflow-x: hidden;
}
#inventory-items table {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}
#inventory-items thead {
    background-color: var(--background2);
}
#inventory-items th, #inventory-items td {
    display: table-cell;
    overflow: hidden;
    text-align: right;
}
#inventory-items th {
    position: sticky;
    top: 0px;
    background-color: var(--background2);
}
#inventory-items td input, #inventory-items td select {
    width: 100%;
    background-color: var(--background);
    border: none;
    transition: background-color 0.2s;
    border-radius: 4px;
}
#inventory-items td input:hover, #inventory-items td input:focus, #inventory-items td select:hover {
    background-color: var(--background2);
}
#inventory-items td select {
    padding-left: 10px;
}
#inventory-items td input::-moz-selection { background: rgba(128, 128, 128, 0.5); }
#inventory-items td input::selection { background: rgba(128, 128, 128, 0.5); }