#endpoint-sidebar {
    width: 200px;
    height: 95vh;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: var(--foreground2);
    font-family: raleway-regular;
}

#sidebar-content {
    overflow-y: auto;
    height: 88vh;
}

.ep-section-title {
    background-color: var(--foreground3);
    color: var(--fg-font-color);
    height: 5vh;
    position: relative;
    width: 100%;
    font-family: raleway-heavy;
}

.ep-section-title > span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#endpoint-sidebar * {
    display: block;
    width: 100%;
    box-sizing: border-box;
}

#endpoint-sidebar .ep-section-content button {
    background-color: var(--foreground2);
    color: var(--fg-font-color);
    border: none;
    height: calc(95vh / 27);
    height: 5vh;
}

#sidebar-content > button {
    background-color: var(--foreground3);
    color: var(--fg-font-color);
    border: none;
    height: 5vh;
    font-family: raleway-heavy;
}

#sidebar-content::-webkit-scrollbar {
    display: none;
}
#sidebar-content {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#endpoint-sidebar button {
    transition: color 0.1s;
}

#endpoint-sidebar button:hover {
    color: var(--fg-em1);
}

#sidebar-title {
    height: 7vh;
    width: 100%;
    background-color: var(--foreground3-2);
    color: var(--fg-font-color);
    font-family: raleway-heavy;
    position: relative;
    font-size: 20px;
}

#sidebar-title span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#comp-content-box {
    position: absolute;
    width: calc(100vw - 200px);
    height: 88vh;
    right: 0px;
    bottom: 0px;
    overflow-y: auto;
    padding: 3vh;
    font-family: raleway-regular;
}

#comp-title-box {
    height: 7vh;
    width: calc(100vw - 200px);
    position: absolute;
    top: 5vh;
    right: 0px;
    background-color: var(--foreground3);
    color: var(--fg-font-color);
    font-family: raleway-heavy;
    font-size: 40px;
}

#comp-title-box span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#comp-content-box {
    background-color: rgb(250,250,250);
}

#comp-content-box > table {
    border-spacing: 10px;
    margin: 15px 0px;
}

#comp-content-box > table thead {
    border-bottom: 4px solid rgb(167, 167, 167);
}

#comp-content-box > table tr {
    border-bottom: 1px solid rgb(167, 167, 167);
}

#comp-content-box table td, #comp-content-box table th {
    padding: 5px 10px;
}

#comp-content-box img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.comp-search {
    height: 5vh;
    width: calc(100vw - 200px);
    position: absolute;
    top: 0px;
    right: 0px;
    border: none;
    box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.75);
    font-size: 20px;
    font-family: raleway-regular;
    padding: 2vh;
}

.compendium-subcontent {
    height: 83vh;
    width: calc(100vw - 200px);
    position: absolute;
    top: 5vh;
    left: 0px;
    padding: 2vh;
    overflow: scroll;
}

.compendium-subcontent::-webkit-scrollbar {
    display: none;
}
.compendium-subcontent {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.horiz-sep {
    background-color: var(--dnd1);
    background: linear-gradient(to right, var(--dnd1), rgba(0,0,0,0));
    width: 100%;
    height: 2px;
}

.monster-basic-info {
    border: none;
    width: 100%;
    margin-left: 0px;
    margin-top: 0px;
    border-collapse: collapse;
}
.monster-basic-info tr, .monster-basic-info th, .monster-basic-info td {
    border: 0px solid black;
    padding-left: 10px;
    margin-top: 0px;
    width: 20%;
}

.monster-basic-info th {
    text-decoration: underline;
    font-family: raleway-heavy;
    background-color: var(--background3);
    margin-top: 0px;
}

.monster-display {
    width: 100%;
    height: auto;
    margin-top: 0px;
    border: 2px solid var(--background3);
    border-top-width: 0px;
    padding-top: 0px;
}

.monster-expanded {
    padding: 1%;
}

.comp-cont-loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-family: raleway-heavy;
    color: var(--bg-font-color);
    font-size: 5vh;
}

