#help-pages {
    position: absolute;
    top: 5vh;
    left: 0px;
    display: inline-block;
    width: 15%;
    height: 95%;
    background-color: var(--foreground3);
}
#pages-title {
    position: absolute;
    top: 0px;
    left: 0px;
    display: inline-block;
    width: 100%;
    height: 7vh;
    background-color: var(--foreground3-2);
    font-family: raleway-heavy;
    font-size: 4vh;
    color: white;
}
#pages-title span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#pages-list {
    position: absolute;
    top: 7vh;
    left: 0px;
    display: inline-block;
    width: 100%;
    height: calc(100% - 7vh);
    overflow-y: auto;
}
#pages-list .page-item {
    font-family: raleway-heavy;
    font-size: 20px;
    color: white;
    display: inline-block;
    height: 40px;
    width: 100%;
    position: relative;
    background-color: #00000000;
    transition: background-color 0.2s;
    margin: 0px;
    margin-bottom: -6px;
}
#pages-list .page-item:hover, #pages-list .page-item.selected {
    background-color: #00000033;
}
#pages-list .page-item span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: 0px;
}
#help-title {
    position: absolute;
    top: 5vh;
    left: 15%;
    display: inline-block;
    width: 85%;
    height: 7vh;
    background-color: var(--foreground3);
    font-family: raleway-heavy;
    font-size: 4vh;
    color: white;
}
#help-title span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: inline-block;
    width: 100%;
    text-align: center;
}

#help-content {
    position: absolute;
    top: 12vh;
    left: 15%;
    display: inline-block;
    width: 85%;
    height: 88vh;
    background-color: var(--foreground2);
    padding: 15px;
    font-family: raleway-regular;
    color: white;
    overflow-y: auto;
}
#help-content h1, #help-content h2, #help-content h3, #help-content h4, #help-content h5 {
    font-family: raleway-heavy;
}
#help-content img {
    display: inline-block;
    height: auto;
    width: 100%;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
    margin-top: 15px;
    margin-bottom: 15px;
}