#player-panel {
    position: absolute;
    top: 5vh;
    left: 0px;
    display: inline-block;
    width: 100vw;
    height: 95vh;
}
#player-info {
    position: absolute;
    top: 0px;
    left: 0px;
    display: inline-block;
    width: 100%;
    height: 5%;
    background-color: var(--foreground2-2);
    color: #ffffff;
    font-family: raleway-heavy;
    font-size: 1.6vh;
    z-index: 100;
    -webkit-box-shadow: 0px 0px 9px 0px #000000; 
    box-shadow: 0px 0px 9px 0px #000000;
}
#info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#info span {
    display: inline-block;
    position: relative;
    margin-right: 10px;
}
#info span img {
    display: inline-block;
    width: 20px;
    height: 20px;
}
#map-settings-btn {
    opacity: 1;
    transition: opacity 0.2s;
    cursor: pointer;
}
#map-settings-btn:hover {
    opacity: 0.8;
}

#map-settings {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%,0px);
    display: inline-block;
    width: fit-content;
    height: 0px;
    overflow: hidden;
    transition: height 0.2s, padding 0.2s;
    background-color: var(--foreground2-2);
    padding: 0px;
    border-radius: 0 0 5px 5px;
    box-sizing: border-box;
}
#map-settings.active {
    height: 130px;
    padding: 10px;
}
#map-settings input {
    margin-left: 5px;
    border-radius: 4px;
    border: none;
    padding-left: 5px;
    font-family: raleway-heavy;
}

#toolbar {
    z-index: 90;
    position: absolute;
    top: 5%;
    left: 0px;
    display: inline-block;
    height: 95%;
    width: 3%;
    background-color: var(--foreground2);
}
#toolbar div {
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
    width: 100%;
    height: 100%;
}
#toolbar div.active {
    display: inline-block;
}
#toolbar .tool {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 48px;
    border: none;
    background-color: #00000000;
    transition: background-color 0.2s;
}
#toolbar .tool.active {
    background-color: #00000033;
}
#toolbar .tool:hover {
    background-color: #00000044;
}
#toolbar .tool img {
    width: 32px;
    height: 32px;
}

#chat-panel {
    z-index: 90;
    position: absolute;
    top: 5%;
    right: 0px;
    display: inline-block;
    height: 95%;
    width: 0px;
    background-color: var(--foreground2);
    transition: width 0.2s;
    overflow: visible;
}
#chat-panel.active {
    width: 400px;
}
#chat-expander {
    position: absolute;
    left: -65px;
    top: 50px;
    transform-origin: center;
    transform: rotate(-90deg);
    display: inline-block;
    width: 100px;
    height: 30px;
    background-color: var(--foreground2-2);
    border: none;
    border-radius: 5px 5px 0 0;
    color: #ffffff;
    font-family: raleway-heavy;
}
#chat-area {
    position: absolute;
    top: 0px;
    left: 0px;
    display: inline-block;
    width: 100%;
    height: 85%;
    overflow-y: scroll;
}
#chat-area::-webkit-scrollbar {
    width: 10px;
}
#chat-area::-webkit-scrollbar-track {
    background: #00000000;
}
#chat-area::-webkit-scrollbar-thumb {
    background: #00000044;
    border-radius: 5px;
}
#chat-area::-webkit-scrollbar-thumb:hover {
    background: #00000066;
}
#chat-input {
    background-color: #00000055;
    position: absolute;
    bottom: 0px;
    left: 0px;
    display: inline-block;
    width: 100%;
    height: 15%;
}
#chat-input textarea {
    background-color: #00000000;
    color: #ffffff;
    border: none;
    font-family: raleway-heavy;
    resize: none;
    display: inline-block;
    width: 90%;
    height: 100%;
    padding: 8px;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: auto;
}
#chat-input textarea::-webkit-scrollbar {
    width: 10px;
}
#chat-input textarea::-webkit-scrollbar-track {
    background: #00000000;
}
#chat-input textarea::-webkit-scrollbar-thumb {
    background: #00000044;
    border-radius: 5px;
}
#chat-input textarea::-webkit-scrollbar-thumb:hover {
    background: #00000066;
}
#chat-input textarea:focus {
    outline: none;
}
#chat-input button {
    display: inline-block;
    width: 10%;
    height: 100%;
    padding: 8px;
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: #00000000;
    transition: background-color 0.2s;
    border: none;
}
#chat-input button:hover {
    background-color: #00000022;
}
#chat-input button img {
    display: inline-block;
    width: 80%;
    height: auto;
}
.chat {
    position: relative;
    display: inline-block;
    width: 90%;
    height: fit-content;
    padding: 5px;
    padding-top: 20px;
    margin: 10px;
    margin-left: 5%;
    background-color: #00000022;
    border-radius: 5px;
    color: #ffffff;
    font-family: raleway-regular;
}
.chat .chat-content *:last-child {
    margin-bottom: 0px;
}
.chat .chat-meta {
    position: absolute;
    top: 4px;
    left: 4px;
    font-style: italic;
    font-family: raleway-regular;
    color: #ffffff88;
    font-size: 1vh;
}
.chat .chat-delete {
    position: absolute;
    top: 0px;
    right: 0px;
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: #00000000;
    transition: background-color 0.2s;
    border: none;
    border-bottom-left-radius: 4px;
}
.chat .chat-delete:hover {
    background-color: #00000022;
}
.chat .chat-delete img {
    display: inline-block;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.chat code {
    color: white;
    background-color: #00000022;
    border-radius: 2px;
    padding: 2px;
}

#map-area {
    z-index: 0;
    position: absolute;
    top: 5%;
    left: 3%;
    display: inline-block;
    width: 97%;
    height: 95%;
    background-image: url(../assets/texture.png);
    background-repeat: repeat;
    overflow: hidden;
}
#map-img {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
}
#entities {
    position: absolute;
    top: 0px;
    left: 0px;
    display: inline-block;
    width: 100%;
    height: 100%;
}
#map {
    position: absolute;
    transform-origin: 0px 0px;
    transform: translate(0px,0px) scale(1);
    width: fit-content;
    height: fit-content;
}

#selector {
    display: none;
    position: absolute;
    background-color: rgba(72, 211, 253, 0.459);
}
#selector.selecting {
    display: inline-block;
    z-index: 200;
}

.entity {
    position: absolute;
    display: inline-block;
}

.obscure {
    background-color: #000000;
    z-index: 100;
}
.obscure.owned {
    background-color: #000000aa;
    transition: background-color 0.2s;
    z-index: 50;
}
.obscure.owned:hover {
    background-color: #00000033;
}

.character {
    background-color: #ffffff;
}
.character .img-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: inline-block;
    width: 90%;
    height: 90%;
    overflow: hidden;
}
.character img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: inline-block;
    width: 100%;
    height: 100%;
}
.character .character-stats {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translate(-50%,0px);
    display: none;
    width: fit-content;
    height: 30px;
    color: #ffffff;
    white-space: nowrap;
}
.character:hover .character-stats {
    display: inline-block;
}
.npc {
    background-color: #d82626;
}
.npc .img-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: inline-block;
    width: 90%;
    height: 90%;
    overflow: hidden;
}
.npc img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: inline-block;
    width: 100%;
    height: 100%;
}
.npc .npc-stats {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translate(-50%,0px);
    display: none;
    width: fit-content;
    height: 30px;
    color: #ffffff;
    white-space: nowrap;
}
.npc:hover .npc-stats {
    display: inline-block;
}

.npc-stats-main {
    position: absolute;
    display: inline-block;
    top: calc(100% + 10px);
    left: calc(100% + 10px);
    width: 600px;
    height: fit-content;
    max-height: 400px;
    overflow-y: auto;
    padding: 10px;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.75);
    border-radius: 5px;
    font-family: raleway-regular;
    z-index: 80;
    cursor: auto;
}
.npc-stats-main::-webkit-scrollbar {
    width: 10px;
}
.npc-stats-main::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 0 5px 5px 0;
}
.npc-stats-main::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.171);
    border-radius: 5px;
}
.npc-stats-main::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.288);
}
.npc-stats-main > div {
    display: inline-block;
    width: 100%;
    height: fit-content;
}
.npc-stats-main .title {
    font-family: raleway-heavy;
    font-size: 3vh;
    font-weight: bold;
    color: var(--dnd1);
}
.npc-stats-main .sub {
    font-size: 1.5vh;
    font-style: italic;
}
.npc-stats-main .horiz-sep {
    background-color: var(--dnd1);
    background: linear-gradient(to right, var(--dnd1), rgba(0,0,0,0));
    width: 100%;
    height: 2px;
    margin: 0px;
    vertical-align: top;
}
.stat-in {
    display: inline-block;
    color: inherit;
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    border: none;
    border-radius: 4px;
    background-color: #00000000;
    transition: background-color 0.2s;
    margin-right: 2px;
}
.stat-in:hover, .stat-in:focus {
    background-color: #00000022;
}
.stat-in::selection {
    background-color:#aaaaaa62;
}
.stat-in::-moz-selection {
    background-color: #aaaaaa62;
}

.class-stats, .class-stats thead, .class-stats tbody, .class-stats tr {
    display: inline-block;
    width: 100%;
    text-align: center;
}
.class-stats td, .class-stats th {
    display: inline-block;
    width: calc(100% / 6);
    height: fit-content;
    margin: 0px;
    text-align: center;
}


/* CTX menu */
#context-menu {
    z-index: 99;
    display: inline-block;
    width: 150px;
    height: fit-content;
    position: absolute;
    background-color: var(--background);
    -webkit-box-shadow: 0px 0px 11px -1px #000000; 
    box-shadow: 0px 0px 11px -1px #000000;
    border-radius: 5px;
}
#context-menu button {
    position: relative;
    display: inline-block;
    width: 100%;
    height: fit-content;
    border: none;
    background-color: #00000000;
    font-family: raleway-heavy;
    transition: background-color 0.2s;
}
#context-menu button:hover {
    background-color: #00000022;
}
#context-menu button:first-child {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
#context-menu button:last-child {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

/* Add NPC Dialog */
#add-npc-dialog {
    top: 8vh;
    left: 8vw;
    width: 84vw;
    height: 84vh;
    background-color: var(--foreground1);
    border-radius: 10px;
    display: none;
    position: absolute;
    z-index: 1000;
    box-shadow: 0px 0px 9px 5px rgba(0,0,0,0.32);
}
#add-npc-dialog.active {
    display: inline-block;
}
#add-npc-dialog .title {
    position: relative;
    background-color: var(--foreground3);
    font-family: raleway-regular;
    border-radius: 10px 10px 0px 0px;
    height: 7%;
    color: var(--fg-font-color);
    font-size: 1.4vw;
}

#npc-menu {
    position: absolute;
    top: 8%;
    left: 2%;
    display: inline-block;
    height: 70%;
    width: 96%;
}
#npc-search {
    display: inline-block;
    width: 100%;
    height: 8%;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 5px 5px 0 0;
}
#npc-search input {
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: raleway-heavy;
    font-size: 2vh;
    padding: 15px;
    border: none;
    border-radius: 5px 5px 0 0;
}

#npc-table {
    display: inline-block;
    width: 100%;
    height: 92%;
    position: absolute;
    top: 8%;
    left: 0px;
    background-color: var(--background);
    border-radius: 0 0 5px 5px;
    overflow: scroll;
}

#npc-table table, #npc-table tbody {
    display: inline-block;
    width: 100%;
    height: 100%;
    font-family: raleway-regular;
    border-collapse: collapse;
}
#npc-table tbody {
    overflow-y: scroll;
    height: 93%;
}
#npc-table tr {
    display: inline-block;
    width: 100%;
    height: fit-content;
    font-family: raleway-regular;
    padding: 5px;
}
#npc-table thead {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 7%;
    font-family: raleway-heavy;
    border-collapse: collapse;
    background-color: var(--background3);
}
#npc-table thead th {
    margin: 0px;
    border-collapse: collapse;
}
#no-content-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#npc-table tbody tr:nth-child(even) {
    background-color: #00000011;
}

.npc-item {
    background-color: #00000000;
    transition: background-color 0.2s;
}
.npc-item:hover {
    background-color: #00000011;
}
.npc-item.selected, #npc-table tbody tr.selected:nth-child(even) {
    background-color: #00000022;
}
.npc-item.selected:hover, .npc-item.selected, #npc-table tbody tr.selected:nth-child(even):hover {
    background-color: #00000033;
}

.npc-cell-name {
    position: relative;
    display: inline-block;
    width: 30%;
    height: fit-content;
}
.npc-cell-size {
    position: relative;
    display: inline-block;
    width: 10%;
    height: fit-content;
}
.npc-cell-type {
    position: relative;
    display: inline-block;
    width: 13%;
    height: fit-content;
}
.npc-cell-cr {
    position: relative;
    display: inline-block;
    width: 5%;
    height: fit-content;
}
.npc-cell-hp {
    position: relative;
    display: inline-block;
    width: 13%;
    height: fit-content;
}
.npc-cell-ac {
    position: relative;
    display: inline-block;
    width: 5%;
    height: fit-content;
}
.npc-cell-source {
    position: relative;
    display: inline-block;
    width: 10%;
    height: fit-content;
}

#noclosemodal {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.479);
    width: 100vw;
    height: 100vh;
    z-index: 999;
    display: none;
}
#noclosemodal.active {
    display: inline-block;
}

#npc-edit {
    position: absolute;
    top: 80%;
    left: 2%;
    display: inline-block;
    width: 96%;
    height: 18%;
}
#npc-img {
    display: inline-block;
    height: 100%;
    width: 10%;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 5px;
    background-color: var(--foreground3);
}
#npc-img-con {
    display: inline-block;
    height: 80%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}
#npc-img-con img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: inline-block;
    width: auto;
    max-width: 80%;
    height: 80%;
}
#npc-img-upload {
    position: absolute;
    top: 80%;
    left: 0px;
    display: inline-block;
    width: 100%;
    height: 20%;
    border-radius: 0 0 5px 5px;
    border: none;
    background-color: var(--foreground3-2);
    color: #ffffff;
    font-family: raleway-heavy;
    transition: color 0.2s;
}
#npc-img-upload:hover {
    color: var(--em-font-color2);
}
#npc-img-upload input {
    position: absolute;
    top: 0px;
    left: 0px;
    display: inline-block;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 100;
}
#npc-img-upload span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 0;
}

#npc-buttons {
    position: absolute;
    left: 90%;
    top: 0px;
    display: inline-block;
    width: 10%;
    height: 100%;
    border-radius: 5px;
    color: #ffffff;
}
#npc-buttons button {
    transition: background-color 0.2s;
    width: 100%;
    height: 50%;
    border: none;
    color: #ffffff;
    display: inline-block;
    font-family: raleway-heavy;
    font-size: 2vh;
}
#npc-submit-btn {
    background-color: #00b80f;
    border-radius: 5px 5px 0 0;
}
#npc-submit-btn:hover {
    background-color: #03990f;
}
#npc-cancel-btn {
    background-color: #df1818;
    border-radius: 0 0 5px 5px;
}
#npc-cancel-btn:hover {
    background-color: #b41515;
}

#npc-edit-form {
    position: absolute;
    top: 0px;
    left: 12%;
    display: inline-block;
    width: 76%;
    height: 100%;
}
#npc-form-box div {
    position: relative;
    display: inline-block;
    margin: 10px;
}
#npc-form-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: inline-block;
    width: 70%;
}

#npc-form-box div span {
    color: #ffffff;
    font-family: raleway-heavy;
    font-size: 2vh;
    display: inline-block;
    width: 80px;
}
#npc-form-box div input, #npc-form-box div select {
    display: inline-block;
    padding: 5px;
    border: none;
    outline: none;
    font-family: raleway-heavy;
    height: 34px;
    width: 200px;
}
#npc-form-box div select:focus {
    outline: none;
}