#player-panel {
    position: absolute;
    top: 5vh;
    left: 0px;
    display: inline-block;
    width: 100vw;
    height: 95vh;
}
#player-info {
    position: absolute;
    top: 0px;
    left: 0px;
    display: inline-block;
    width: 100%;
    height: 5%;
    background-color: var(--foreground2-2);
    color: #ffffff;
    font-family: raleway-heavy;
    font-size: 1.6vh;
    z-index: 100;
    -webkit-box-shadow: 0px 0px 9px 0px #000000; 
    box-shadow: 0px 0px 9px 0px #000000;
}
#info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#info span {
    display: inline-block;
    position: relative;
    margin-right: 10px;
}
#info span img {
    display: inline-block;
    width: 20px;
    height: 20px;
}
#map-settings-btn {
    opacity: 1;
    transition: opacity 0.2s;
    cursor: pointer;
}
#map-settings-btn:hover {
    opacity: 0.8;
}

#map-settings {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%,0px);
    display: inline-block;
    width: fit-content;
    height: 0px;
    overflow: hidden;
    transition: height 0.2s, padding 0.2s;
    background-color: var(--foreground2-2);
    padding: 0px;
    border-radius: 0 0 5px 5px;
    box-sizing: border-box;
}
#map-settings.active {
    height: 130px;
    padding: 10px;
}
#map-settings input {
    margin-left: 5px;
    border-radius: 4px;
    border: none;
    padding-left: 5px;
    font-family: raleway-heavy;
}

#toolbar {
    z-index: 90;
    position: absolute;
    top: 5%;
    left: 0px;
    display: inline-block;
    height: 95%;
    width: 3%;
    background-color: var(--foreground2);
}
#toolbar div {
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
    width: 100%;
    height: 100%;
}
#toolbar div.active {
    display: inline-block;
}
#toolbar .tool {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 48px;
    border: none;
    background-color: #00000000;
    transition: background-color 0.2s;
}
#toolbar .tool.active {
    background-color: #00000033;
}
#toolbar .tool:hover {
    background-color: #00000044;
}
#toolbar .tool img {
    width: 32px;
    height: 32px;
}

#chat-panel {
    z-index: 90;
    position: absolute;
    top: 5%;
    right: 0px;
    display: inline-block;
    height: 95%;
    width: 0px;
    background-color: var(--foreground2);
    transition: width 0.2s;
    overflow: visible;
}
#chat-panel.active {
    width: 300px;
}
#chat-expander {
    position: absolute;
    left: -65px;
    top: 50px;
    transform-origin: center;
    transform: rotate(-90deg);
    display: inline-block;
    width: 100px;
    height: 30px;
    background-color: var(--foreground2-2);
    border: none;
    border-radius: 5px 5px 0 0;
    color: #ffffff;
    font-family: raleway-heavy;
}

#map-area {
    z-index: 0;
    position: absolute;
    top: 5%;
    left: 3%;
    display: inline-block;
    width: 97%;
    height: 95%;
    background-image: url(../assets/texture.png);
    background-repeat: repeat;
    overflow: hidden;
}
#map-img {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
}
#entities {
    position: absolute;
    top: 0px;
    left: 0px;
    display: inline-block;
    width: 100%;
    height: 100%;
}
#map {
    position: absolute;
    transform-origin: 0px 0px;
    transform: translate(0px,0px) scale(1);
    width: fit-content;
    height: fit-content;
}

#selector {
    display: none;
    position: absolute;
    background-color: rgba(72, 211, 253, 0.459);
}
#selector.selecting {
    display: inline-block;
    z-index: 200;
}

.entity {
    position: absolute;
    display: inline-block;
}
.obscure {
    background-color: #000000;
    z-index: 100;
}
.obscure.owned {
    background-color: #000000aa;
    transition: background-color 0.2s;
    z-index: 50;
}
.obscure.owned:hover {
    background-color: #00000033;
}

#context-menu {
    z-index: 99;
    display: inline-block;
    width: 150px;
    height: fit-content;
    position: absolute;
    background-color: var(--background);
    -webkit-box-shadow: 0px 0px 11px -1px #000000; 
    box-shadow: 0px 0px 11px -1px #000000;
    border-radius: 5px;
}
#context-menu button {
    position: relative;
    display: inline-block;
    width: 100%;
    height: fit-content;
    border: none;
    background-color: #00000000;
    font-family: raleway-heavy;
    transition: background-color 0.2s;
}
#context-menu button:hover {
    background-color: #00000022;
}
#context-menu button:first-child {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
#context-menu button:last-child {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}