pydantic==1.6.1
markdown2==2.3.10
rsa==4.6
uvicorn==0.11.8
requests==2.24.0
d20==1.0.4
beautifulsoup4==4.9.3
fastapi==0.63.0
fastapi_utils==0.2.1
google_api_python_client==1.12.8
protobuf==3.14.0
secrets==1.0.2
